{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %} {% if session.username %}
<div>
	<h1>Already logged in!</h1>
</div>
<div>
	<p>You are already logged in as {{ session.username }}.</p>
</div>
{% else %}
<div>
	<h1>Login</h1>
</div>
<div>
	<div>
		<form action="/api/auth/login" method="POST">
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input
					type="text"
					class="form-control form-input"
					id="username"
					name="username"
					placeholder="Enter username"
				/>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input
					type="password"
					class="form-control form-input"
					id="password"
					name="password"
					placeholder="Password"
				/>
			</div>
			<button type="submit" class="btn btn-primary mb-3">Login</button>
		</form>
	</div>
	<div style="display: flex; flex-direction: row; gap: 0.5rem">
		<a href="/">
			<button class="btn btn-secondary">Back home</button>
		</a>
		<a href="/auth/register">
			<button class="btn btn-secondary">Register here</button>
		</a>
	</div>
</div>
{% endif %} {% endblock %}
