{% extends "layout.html" %} {% block title %}Login{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %} {% if session.username %}
<div>
	<h1>Rate {{ movie['title'] }}, ({{ movie['year'] }})</h1>
</div>
<div>
	<div>
		<form action="/api/movies/rate/{{ movie['id'] }}" method="POST">
			<div class="mb-3">
				<label for="rating" class="form-label">Stars</label>
				<p>
					<input type="radio" name="rating" value="1" />1
					<input type="radio" name="rating" value="2" />2
					<input type="radio" name="rating" value="3" />3
					<input type="radio" name="rating" value="4" />4
					<input type="radio" name="rating" value="5" />5
					<input type="radio" name="rating" value="6" />6
					<input type="radio" name="rating" value="7" />7
					<input type="radio" name="rating" value="8" />8
					<input type="radio" name="rating" value="9" />9
					<input type="radio" name="rating" value="10" />10
				</p>
			</div>
			<div class="mb-3">
				<label for="comment">Comment</label>
				<textarea
					type="text"
					class="form-control"
					id="comment"
					name="comment"
					placeholder="Enter comment"
					required
				></textarea>
			</div>
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
			<button type="submit" class="btn btn-primary mb-3">Send rating</button>
		</form>
	</div>
	<a href="/movies/{{ movie['id'] }}">
		<button class="btn btn-secondary">Back</button>
	</a>
</div>
{% else %}
<div>
	<h1>Unauthorized!</h1>
</div>
<div>
	<p>No user logged in.</p>
	<div style="display: flex; flex-direction: row; gap: 0.5rem">
		<a href="/auth/login">
			<button class="btn btn-primary">Log in here.</button>
		</a>
		<a href="/auth/register">
			<button class="btn btn-secondary">Register here.</button>
		</a>
	</div>
</div>
{% endif %} {% endblock %}
