{% extends "layout.html" %} {% block title %}{{ movie['title'] }}{% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block content %}
<div>
	<h1>{{ movie['title'] }}</h1>
	<p>
		Added by <strong>{{ movie['created_by_user'] }}</strong> at {{
		movie['created_at'] }}
	</p>
</div>
<div>
	<div style="display: flex; flex-direction: row; gap: 0.5rem" class="mb-3">
		{% if session['is_admin'] or movie['created_by'] == session['user_id'] %}
		<form action="/api/movies/{{ movie['id'] }}" method="POST">
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
			<button type="submit" class="btn btn-primary">Delete movie</button>
		</form>
		{% endif %} {% if session['is_admin'] %}
		<a href="/movies/edit/{{ movie['id'] }}">
			<button class="btn btn-primary">Edit movie details</button>
		</a>
		{% endif %}
	</div>
	<div class="mb-3">
		<div class="card-body">
			<h6 class="card-subtitle mb-2 text-body-secondary">
				{{ movie['year'] }}, {{ movie['genre'] }}
			</h6>
			<p class="card-text">{{ movie['description'] }}</p>
			<h5 class="card-title mb-3">score: {{ movie['review_average'] }}</h5>
			{% if movie['rated'] %}
			<p>You've already given a review for this movie!</p>
			{% elif session.username %}
			<a href="/movies/rate/{{ movie['id'] }}">
				<button class="btn btn-primary">Rate this movie</button>
			</a>
			{% endif %} {% for rating in movie['reviews'] %}
			<div class="card mt-3">
				<h5 class="card-header">
					<strong>{{ rating['rating'] }} stars</strong>{% if rating['user_id']
					== session.user_id %}, (your review){% endif %}
				</h5>
				<div class="card-body">
					<h5 class="card-title">Rating by {{ rating['username'] }}</h5>
					<p class="card-text">{{ rating['comment'] }}</p>
					{% if rating['user_id'] == session['user_id'] or session['is_admin']
					%}
					<form
						action="/api/movies/rate/delete/{{ rating['id'] }}"
						method="POST"
					>
						<input
							type="hidden"
							name="csrf_token"
							value="{{ session.csrf_token }}"
						/>
						<button type="submit" class="btn btn-primary">Delete review</button>
					</form>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<a href="/movies">
		<button class="btn btn-secondary">Back</button>
	</a>
</div>
{% endblock %}
