{% extends "layout.html" %} {% block title %}Movies{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}
<div>
	<h1>Movies</h1>
</div>
<div>
	<div style="display: flex; flex-direction: row; gap: 0.5rem">
		{% if session.username %}
		<a href="/movies/add">
			<button class="btn btn-secondary mb-3">Add a new movie</button>
		</a>
		{% endif %}
		<a href="/search">
			<button class="btn btn-primary mb-3">Search for a movie</button>
		</a>
	</div>
	{% for movie in movies %}
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">
				<strong>{{ movie['title'] }}</strong>{% if session['user_id'] ==
				movie['created_by'] %}, (your movie){% endif %}
			</h5>
			<h6 class="card-subtitle mb-2 text-body-secondary">
				{{ movie['year'] }}, {{ movie['genre'] }}
			</h6>
			<p class="card-text">
				Reviews: {{ movie['review_count'] }}, score: {{ movie['review_average']
				}}
			</p>
			<a href="/movies/{{ movie['id'] }}" class="card-link"
				><button class="btn btn-secondary">
					See details and read reviews
				</button></a
			>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
