<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Movies | Rotten Potatoes</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container">
			<div>
				<h1>Movies</h1>
			</div>
			<div>
				{% if session.username %}
				<a href="/movies/add">
					<button>Add a new movie</button>
				</a>
				{% endif %}
				<p>Search for a movie</p>
				<p>Filter by category</p>
				{% for movie in movies %}
				<div>
					<p><strong>{{ movie['title'] }}</strong></p>
					<p>{{ movie['description'] }}</p>
					<p>{{ movie['year'] }}</p>
					<p>Reviews: {{ movie['review_count'] }}</p>
					<a href="/movies/rate/{{ movie['id'] }}">
						<button>Rate this movie</button>
					</a>
				</div>
				{% endfor %}
				<a href="/">
					<button>Home page</button>
				</a>
				<a href="/profile">
					<button>Profile page</button>
				</a>
				{% if session.username %}
				<a href="/auth/logout">
					<button>Log out</button>
				</a>
				{% endif %}
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"
		></script>
	</body>
</html>
