{% extends "layout.html" %} {% block title %}Add New Movie{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %} {% if
session.username %}
<div>
	<h1>Add New Movie</h1>
</div>
<div>
	<div>
		<form action="/api/movies" method="POST">
			<div class="mb-3">
				<label for="title" class="form-label">Title</label>
				<input
					type="text"
					class="form-control form-input"
					id="title"
					name="title"
					placeholder="Enter title"
					required
				/>
			</div>
			<div class="mb-3">
				<label for="genre" class="form-label">Genre</label>
				<p>
					{% for genre in genres %}
					<input type="radio" name="genre" value="{{ genre['id'] }}" />
					{{ genre['name'] }} {% endfor %}
				</p>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea
					type="text"
					class="form-control"
					id="description"
					name="description"
					placeholder="Enter description"
					required
				></textarea>
			</div>
			<div class="mb-3">
				<label for="year" class="form-label">Year</label>
				<input
					type="number"
					class="form-control form-input"
					id="year"
					name="year"
					placeholder="Enter year"
					required
				/>
			</div>
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
			<button type="submit" class="btn btn-primary mb-3">Add</button>
		</form>
	</div>
	<a href="/movies">
		<button class="btn btn-secondary">Back to movie list</button>
	</a>
</div>
{% else %}
<div>
	<h1>Unauthorized!</h1>
</div>
<div>
	<p>No user logged in.</p>
	<div style="display: flex; flex-direction: row; gap: 0.5rem">
		<a href="/auth/login">
			<button class="btn btn-primary">Log in here.</button>
		</a>
		<a href="/auth/register">
			<button class="btn btn-secondary">Register here.</button>
		</a>
	</div>
</div>
{% endif %} {% endblock %}
