{% extends "layout.html" %} {% block title %}Register{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block content %} {% if session.username
%}
<div>
	<h1>Profile</h1>
</div>
<div>
	<p>Here are your profile details, {{ session.username }}:</p>
	<table class="table">
		<tbody>
			<tr>
				<th scope="row">username:</th>
				<td>{{ session.username }}</td>
			</tr>
			<tr>
				<th scope="row">created at:</th>
				<td>{{ user_details['created_at'] }}</td>
			</tr>
			<tr>
				<th scope="row">updated at:</th>
				<td>{{ user_details['updated_at'] }}</td>
			</tr>
			<tr>
				<th scope="row">admin:</th>
				<td>{{ user_details['is_admin'] }}</td>
			</tr>
		</tbody>
	</table>
</div>
{% else %}
<div>
	<h1>Unauthorized!</h1>
</div>
<div>
	<p>No user logged in.</p>
	<a href="/auth/login">
		<button class="btn btn-primary">Log in here.</button>
	</a>
	<a href="/auth/register">
		<button class="btn btn-secondary">Register here.</button>
	</a>
</div>
{% endif %}{% endblock %}
