{% extends "layout.html" %} {% block title %}Register{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block content %} {% if session.username
%}
<div>
	<h1>Profile</h1>
</div>
<div>
	<p>Here are your profile details, {{ session.username }}:</p>
	<p>username: {{ session.username }}</p>
	<p>created at: {{ user_details['created_at'] }}</p>
	<p>updated at: {{ user_details['updated_at'] }}</p>
	<p>admin: {{ user_details['is_admin'] }}</p>
</div>
{% else %}
<div>
	<h1>Unauthorized!</h1>
</div>
<div>
	<p>No user logged in.</p>
	<a href="/auth/login">
		<button class="btn btn-primary">Log in here.</button>
	</a>
	<a href="/auth/register">
		<button class="btn btn-secondary">Register here.</button>
	</a>
</div>
{% endif %}{% endblock %}
