{% extends "layout.html" %} {% block title %}Search{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}
<div>
	<h1>Search for a movie</h1>
</div>
<div>
	<div>
		<form action="/api/search" method="POST">
			<div class="mb-3">
				<label for="title" class="form-label">Title</label>
				<input
					type="text"
					class="form-control form-input"
					id="title"
					name="title"
					placeholder="Enter title to search for..."
				/>
			</div>
			<div class="mb-3">
				<label for="genre" class="form-label">Filter by genre</label>
				<p id="genre">
					{% for genre in genres %}
					<input type="radio" name="genre" value="{{ genre['id'] }}" />
					{{ genre['name'] }} {% endfor %}
				</p>
			</div>
			<button type="submit" class="btn btn-primary mb-3">Search</button>
		</form>
	</div>
	<a href="/movies">
		<button class="btn btn-secondary">Back</button>
	</a>
</div>
{% endblock %}
